@font-face {
    font-family: "Product Sans";
    src: url("/fonts/ProductSans/ProductSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Product Sans";
    src: url("/fonts/ProductSans/ProductSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Product Sans";
    src: url("/fonts/ProductSans/ProductSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Product Sans";
    src: url("/fonts/ProductSans/ProductSans-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Product Sans";
    src: url("/fonts/ProductSans/ProductSans-Italic.ttf");
    font-weight: 300;
    font-style: italic;
}
